.span12.info
  %a.subinfo#subinfo1.button.glossy{href: where_path}
    .title
      %h3 Donde y cuando
    .caption
      %p Mapas
      %p Indicaciones
      %p Horarios...
  %a.subinfo#subinfo2.button.glossy{href: questions_path}
    .title
      %h3 Posibles preguntas
    .caption
      %p Reglas
      %p Aclaraciones
      %p Dudas
  %a.subinfo#subinfo3.button.glossy{href: suggestions_path}
    .title
      %h3 Sugerencias
    .caption
      %p Consejos
      %p No olvidar
      %p Como volver
  .arrow
    %img{src: 'assets/arrows.png'}
.span12.music
  .caption
    %p Colabora con nuestra lista y escucha tus canciones favoritas en nuestra boda

  .list
    <iframe src="https://embed.spotify.com/?uri=spotify:user:kanedaki:playlist:4zFQ6gPliHbmrkW92hjsdv" width="300" height="81" frameborder="0" allowtransparency="true"></iframe>
  %a.go.button.skew{href: "http://open.spotify.com/user/kanedaki/playlist/4zFQ6gPliHbmrkW92hjsdv", target: "_blank"}
    Go to our spotify list
