
.container-fluid
  .row-fluid
    #topbar
      #box
        #flashlight
          %span#flash Sara y 
          %span#light Miguel
      #text
        Sara Y Miguel
    .gallery
      .carousel.slide#myCarousel
        .carousel-inner
          .active.item
            %img{src: '/assets/gallery/P1040710.JPG'}
            .carousel-caption
              %h4 Castillo de Sant Feliu
              %p En Gerona, en Castell de Fells, dando una vuelta por el castillo. Increiblemente bonito
          .item
            %img{src: '/assets/gallery/P1040703.JPG'}
            .carousel-caption
              %h4 Castillo de Sant Feliu
              %p En Gerona, en Castell de Fells, dando una vuelta por el castillo. Increiblemente bonito
          .item
            %img{src: '/assets/gallery/P1040707.JPG'}
            .carousel-caption
              %h4 Castillo de Sant Feliu
              %p En Gerona, en Castell de Fells, dando una vuelta por el castillo. Increiblemente bonito
        <!-- Carousel nav -->
        %a.carousel-control.left{href:'#myCarousel', data: {slide: 'prev'}}
          &lsaquo;
        %a.carousel-control.right{href:'#myCarousel', data: {slide: 'next'}}
          &rsaquo;
    .span12.info
      .subinfo#subinfo1
        .title
          %h3 Donde y cuando
        .caption
          %p Mapa, indicaciones, como volver despues de la boda, horarios...
      .subinfo#subinfo2
        .title
          %h3 Posibles preguntas
        .caption
          %p Aclaraciones sobre dudas que puedan surgir
      .subinfo#subinfo3
        .title
          %h3 Como
        .caption
          %p Consejos, sugerencias
    .span12.music
      .caption
        %p Colabora con nuestra lista y escucha tus canciones favoritas en nuestra boda

      .go
        %a{href: "http://open.spotify.com/user/kanedaki/playlist/4zFQ6gPliHbmrkW92hjsdv", target: "_blank"}
          Go to our spotify list
      .list
        <iframe src="https://embed.spotify.com/?uri=spotify:user:kanedaki:playlist:4zFQ6gPliHbmrkW92hjsdv" width="300" height="81" frameborder="0" allowtransparency="true"></iframe>
