.explanation#questions
  .title
    %p
      Aclaraciones
    .section#section0
      .subtitle
        %p
          Quienes somos
      .body
        %p
          Entendemos que si os hemos invitado, sabeis quienes somos. Pero a veces pasa que la familia del novio no conoce a la novia y viceversa. Por eso nos vamos a introducir.
          %br/
          %br/
          %b Sara:
          Wine lover, detallista y meticulosa, enamorada de su familia, esta muñequita tiene bondad para conquistar el mundo pero a veces necesita a Miguel para sacarla.
          %br/
          %br/
          %b Miguel:
          Friki informatico, futuro emprendedor y chikunero full time. Soñador y creativo, necesita a Sara para pisar la tierra de vez en cuando
    .section#section1
      .subtitle
        %p
          Asistir a la boda
      .body
        %p
          Nos encantaría que vinierais a nuestra boda. Y por eso os hemos invitado. Pero entendemos que puede ser dificil asistir. Quizás las fechas coinciden con las vacaciones o surge algún compromiso o circunstancia. O simplemente os apetece quedaros en casa leyendo un buen libro. Lo comprendemos, y os seguimos queriendo. Dicho eso, esperamos veros a todos por allí. Nos hará muy felices.
    .section#section2
      .subtitle
        %p
          Regalos a los novios
      .body
        %p
          Viene siendo habitual el hacer un regalo a los novios cuando se asiste a una boda. Queremos deciros, que si os hemos invitado es porque queremos vuestra presencia, queremos que estéis alli, que vivais con nosotros ese momento tan especial, que sintais nuestra alegría y emociones y nosotros sentir las vuestras. Entendemos todas las circunstancias y lo que queremos es veros, lo demás es secundario.
      .subtitle
        %p
          Pero yo quiero regalar !!!
      .body
        %p
          Y nosotros encantados. Cada uno hará lo que quiera porque para algo es un regalo pero si tuviesemos que elegir, prefeririamos que nos ayudaseis con nuestra luna de miel y con otros agujerillos. 
        %p
          Para que os resulte más sencillo y seguro, os facilitamos un numero de cuenta de la Caixa.
        .cuenta  
          2100 3861 95 02 00140984
        %br/
    %a{href: home_path}
      Volver
