.explanation#suggestions
  .title
    %p
      Preguntas y sugerencias
    .section#section1
      .subtitle
        %p
          Cuando empieza. La boda a las 19:00
      .body
        %p
          Que nadie llegue tarde !!! La boda empieza a las 19:00 de la tarde. Todo lo celebraremos en el mismo sitio, no os preocupeis por nada más. Una vez que llegueis a la finca os estaremos esperando para daros la bienvenida. 
          %br/
          Una vez casados xD, empezaremos el banquete, donde seguro disfrutaréis lo que hemos diseñado con mucho esmero y cariño. Y luego a bailar! Esperamos que lo deis todo, hasta que el cuerpo aguante.
    .section#section2
      .subtitle
        %p
          Vale, entendido, pero... ¡que me pongo!
      .body
        %p
          Nosotros en eso no nos metemos, pero si queremos daros un dato importante. Gran parte de la boda se celebrará sobre cesped. Ojo tacones de aguja!!
    .section#section3
      .subtitle
        %p
          ¿Habrá comida especial para mi?
      .body
        %p
          No tienes más que decirnoslo. Avisanos con un poquito de tiempo y avisaremos para que preparen lo que se necesite. Vegetarianos, celiacos o niveles superiores como el de Lorenzo, el tio de Miguel.
    .section#section3
      .subtitle
        %p
          Controles de alcoholemia
      .body
        %p
          Un dato importante que nos han comentado, es que a la salida de Torrelodones, antes de coger la A-6, puede haber controles de alcoholemia. Avisados quedais
    %a{href: home_path}
      Volver
