.explanation#where
  .title
    %p
      ¿Donde?
    .section#section1
      .subtitle
        %p
          ¿Donde se celebra?
      .body
        %p
          La boda será en Torrelodones, Madrid. En una bonita finca con unas vistas preciosas a Galapagar. Os va a encantar.
    .section#section2
      .subtitle
        %p
          ¿Como llegar?
      .body
        %p
          Para llegar a la finca lo más recomendable es venir en coche. No habrá problema para aparcar. Los coches se pueden dejar a la entrada de la finca, donde encontrareis indicaciones que os ayuden.
          Para que no se diga que no apoyamos el transporte público, si quereis tambien se puede llegar en tren. La parada de Renfe de Torrelodones está a 10 minutos andando. El problema podría ser la vuelta. Por eso os proponemos lo siguiente.
    .section#section3
      .subtitle
        %p
          Autobus Party
      .body
        %p
          Eso os queriamos preguntar. Entendemos que muchos preferirán ir y volver en autobus y olvidarse de todo lo demás. Desde aquí queremos hacer un llamamiento a estas personas. Por favor, poneros en contacto con nosotros por telefono o email, los cuales facilitamos más abajo, diciendonos a que hora os gustaria volver y donde, para que podamos programarlo.
    .section#section4
      .subtitle
        %p
          Contáctanos
      .body
        %p
          Email de Sara: storresm08@gmail.com
          %br/
          Email de Miguel: kanedaki@gmail.com
          %br/
          Telefono de Sara: 661261548
          %br/
          Telefono de Miguel: 610703044
        %br/
    %a{href: home_path}
      Volver
  .map
    <iframe width="525" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=madrid&amp;daddr=Calle+de+Tijuana&amp;hl=en&amp;geocode=FbO1aAIdh4nH_ynJZjc4fShCDTF9mVDtwJxGrQ%3BFfIJawIdQq_D_w&amp;aq=&amp;sll=40.569119,-3.952181&amp;sspn=0.005118,0.009645&amp;t=m&amp;mra=dme&amp;mrsp=1&amp;sz=17&amp;ie=UTF8&amp;ll=40.569119,-3.952181&amp;spn=0.005118,0.009645&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=madrid&amp;daddr=Calle+de+Tijuana&amp;hl=en&amp;geocode=FbO1aAIdh4nH_ynJZjc4fShCDTF9mVDtwJxGrQ%3BFfIJawIdQq_D_w&amp;aq=&amp;sll=40.569119,-3.952181&amp;sspn=0.005118,0.009645&amp;t=m&amp;mra=dme&amp;mrsp=1&amp;sz=17&amp;ie=UTF8&amp;ll=40.569119,-3.952181&amp;spn=0.005118,0.009645" style="color:#0000FF;text-align:left">View Larger Map</a></small>
