.item
  %img{src: '/assets/gallery/barcelona/2010. BARCELONA SEPT.4.JPG'}
  .carousel-caption
    %h4 Castillo de Sant Feliu
    %p En Gerona, en Castell de Fells, dando una vuelta por el castillo. Increiblemente bonito
.item
  %img{src: '/assets/gallery/barcelona/2010. BARCELONA SEPT.3.JPG'}
  .carousel-caption
    %h4 Castillo de Sant Feliu
    %p En Gerona, en Castell de Fells, dando una vuelta por el castillo. Increiblemente bonito
.item
  %img{src: '/assets/gallery/barcelona/2010. BARCELONA SEPT.2.JPG'}
  .carousel-caption
    %h4 Castillo de Sant Feliu
    %p En Gerona, en Castell de Fells, dando una vuelta por el castillo. Increiblemente bonito
.item
  %img{src: '/assets/gallery/barcelona/2010. BARCELONA SEPT.JPG'}
  .carousel-caption
    %h4 Castillo de Sant Feliu
    %p En Gerona, en Castell de Fells, dando una vuelta por el castillo. Increiblemente bonito
